$dark-blue: #1B1F3B;

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@mixin text-style($size, $weight, $color, $cursor: auto) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  cursor: $cursor;
}


.container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: flex;
}